<body>
  <header >
    <div class="container-header">
      <div class="toggle">
        <a
          class="btn btn-primary"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="logo">
        <img src="assets/logo2.png" alt="Logo" />
      </div>
      <div class="cart-button">
        <a routerLink="cart">
          <i class="fas fa-shopping-cart"></i>
          <div class="badge bg-danger"> {{cartcount}} </div>
         
        </a>
      </div>
    </div>
  </header>
  <nav>
    <div class="container">
      <ul class="navbar-links">
        <li><a href="#">Home</a></li>
        <li><a routerLink="about">About Us</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a routerLink="blog">Blog</a></li>
      </ul>
    </div>
  </nav>

  <!-- ----------------mobile-side-nav-bootstrap---------- -->
  <div class="offcanvas offcanvas-start" style="width: 70%;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header"  >
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">PlantDekho</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div id="mobile-nav" >
        <ul>
          <li><a href="#"   >Home</a></li>
          <li><a  data-bs-dismiss="offcanvas" routerLink="about">About Us</a></li>
          <li><a  data-bs-dismiss="offcanvas">Privacy</a></li>
          <li><a  data-bs-dismiss="offcanvas" routerLink="blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ---------------------- -->
</body>
