header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 100;
}
.container-header{
  align-items: center;
  margin: 0 1%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.cart-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #149253;
  font-size: 14px;
}

.cart-button a i {
  margin-right: 5px;
  font-size: 20px;
}


.toggle{
  display: none;
}
/* --------------------------------------navbar-------------------------- */
nav {
  margin-top: 77px;
  background-color: #149253;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

}

.navbar-links {
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-links a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navbar-links a:hover {
  background-color: #57c689;
}
/* -----------mobile nav-------------- */
#mobile-nav ul li{
  list-style: none;
  text-align: center;
  padding: 16px 0px;

}
#mobile-nav ul li a{
  color: black;
  padding: 5px;
  font-size: 1.5rem;
}




@media (max-width: 767px) {
  
  nav{
    display: none;
  }
  .toggle{
    display: block;
  }

}
