header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.container {
  /* max-width: 1140px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.search-form {
  width: 70%;
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.search-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #149253;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.cart-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #149253;
  font-size: 14px;
}

.cart-button a i {
  margin-right: 5px;
  font-size: 20px;
}

/* --------------------------------------navbar-------------------------- */
nav {
  background-color: #149253;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-links a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navbar-links a:hover {
  background-color: #57c689;
}

@media (max-width: 767px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }

  .navbar-links.show {
    height: 200px;
  }

  .navbar-links li {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
