<body>

  <nav>
    <div class="nav-main">
      <div class="nav-header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWKLwTOLju0yLSZkNt0tFFP48u_HqFfZn2iUYwZs_7lg&s"
          width="20%" alt="logo">




      </div>
      <ul class="menu">
        <li>
          <a routerLink="">Home</a>
        </li>

        <li>
          <a routerLink="about">About</a>

        </li>

        <li>
          <a routerLink="cart">cart</a>

        </li>
        <li>
          <a routerLink="policy">Policy</a>

        </li>
        <li>
          <a routerLink="shipping_form" >Contact</a>
        </li>



      </ul>
    </div>


  </nav>

  <!-- <footer>
      <p>Made with ❤️ by: <em>@trulysaroj</em></p> 
 </footer> -->
</body>