<div class="foot-content">
    <div style="background-color: rgba(0, 0, 0, 0.2);">

        <div class="social-media">
            <a href=""> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.reddit.com/user/cryptopriceconvert" target="_blank"> <i
                    class="fa fa-reddit fa-2x"></i></a>
            <a href=""> <i class="fa fa-twitter fa-2x"></i></a>
            <a href=""> <i class="fa fa-google fa-2x"></i></a>
            <a href="https://www.instagram.com/cryptopriceconvert/" target="_blank"> <i
                    class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>


        </div>

    </div>



    <footer>
        <div class="foot-left" style="text-align: left;">
            <div>
                <h2>Links</h2>
            </div>

            <ul style="text-align:left;">

                <li><a href="">About Us</a></li>
                <li><a href=""> Shaipping Policy</a></li>
                <li><a href="">Blog</a></li>

            </ul>
        </div>

        <div class="foot-right">
            <div>
                <h2>OTHERS</h2>
            </div>
            <ul>

                <li><a href=""> Instagram</a></li>


            </ul>

        </div>
    </footer>
    <div>
        <a href="about-us2.html" style="text-decoration: none;">
            <p style="text-align: center;color: white; margin-bottom: 0;">© 2021 Copyright:
                https://www.cryptopriceconvert.com</p>
        </a>
    </div>
</div>