<section>
  <div class="container">
    <div class="left">
      <img src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg" width="100%" />
    </div>
    <div class="right">
      <div>
        <h1>ABOUT US</h1>
        <br />
        <p>
          <b>Plantdekho.in </b>is a one-stop shop for all your indoor and
          outdoor plant needs. We are a team of nature enthusiasts and green
          thumbs who are passionate about bringing the beauty and benefits of
          plants into your life. Our online platform offers a vast selection of
          plants, planters, soil, and accessories, making it easy for you to
          shop for everything you need to start or enhance your collection.
          Whether you're a seasoned grower or just starting out, our
          knowledgeable team is always available to answer your questions and
          provide expert advice. Our goal is to make plant care accessible and
          enjoyable for everyone, and we are committed to providing the highest
          quality products and services to our customers. Join the Plantdekho
          community and discover the joys of growing and caring for your own
          plants. With our help, you'll be able to bring the beauty of nature
          into your home and surroundings in no time!
        </p>

        <h1>OUR MOTIVE</h1>
        <br />
        <p id="para-2">
          At Plantdekho, our motive is simple: to bring the beauty and benefits
          of plants into every home and surrounding. We believe in the
          transformative power of nature and are dedicated to providing our
          customers with the best products, information, and services to help
          them grow and care for their plants successfully. Join us on our
          mission to make plant care accessible and enjoyable for everyone.
        </p>
      </div>
    </div>
  </div>
</section>
