<div class="wrapper">
  <h1>Shopping Cart</h1>
  <!-- ---------------empty-cart------- -->
  <div class="empty-cart" *ngIf="items.length <= 0">
    <div>
      <h4>your cart is empty</h4>
      <br>
      <button class="button" routerLink="">Shop Now</button>
    </div>
  </div>
  <!-- ------------------------>

  <div class="project" *ngIf="items.length > 0">
    <div class="shop">
      <div class="box" *ngFor="let item of items">
        <img [src]="sanitizer.bypassSecurityTrustUrl(item.image)" />
        <div class="content">
          <h3>{{ item.name }}</h3>
          <h4>Price: {{ item.price * item.quantity }}</h4>
          <div class="unit">
            <label for="qty">Quantity </label>
            <select name="" id="qty" #qty (change)='onOptionsSelected(qty.value, item.id)' [value]=item.quantity>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <p class="btn-area" (click)="removedata(item)">
            <i aria-hidden="true" class="fa fa-trash"></i>
            <span class="btn2">Remove</span>
          </p>
        </div>
      </div>
    </div>
    <div class="right-bar ">

      <p><span>Total</span> <span>{{total}}</span></p>
      <hr />

      <hr />
      <p><span>Shipping</span> <span>60</span></p>
      <hr />
      <p>
        <span>Grandtotal</span><span>{{grandtotal}} </span>
      </p>

      <a (click)="transferdata()"><i class="fa fa-shopping-cart"></i>Checkout</a>
    </div>
  </div>
</div>