
 <div class="wrapper">
    <h1>Shopping Cart</h1>
    <div class="project">
        <div class="shop">
            <div class="box">
                <img src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg">
                <div class="content">
                    <h3>Women Lipsticks</h3>
                    <h4>Price: $40</h4>
                    <p class="unit">Quantity: <input name="" value="2"></p>
                    <p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
                </div>
            </div>
            
            
        </div>
        <div class="right-bar">
            <p><span>Subtotal</span> <span>$120</span></p>
            <hr>
            <p><span>Tax (5%)</span> <span>$6</span></p>
            <hr>
            <p><span>Shipping</span> <span>$15</span></p>
            <hr>
            <p><span>Total</span> <span>$141</span></p><a href="shipping_form.html"><i class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
    </div>
</div>