<div id="shipping-body">
  <div id="shipping-heading">
    <H2> Shipping Policy</H2>
  </div>
  <br>
  <div>
    <p>
      At our plant selling website, we deliver only within India. We use trusted
      courier services and Indian Post to send your courier to ensure the safe
      and timely delivery of your product. You can expect to receive your
      product within 5 to 7 days of placing your order.
    </p>
    <p>
      Please note that we do not dispatch items on national holidays and
      weekends (Saturday and Sunday). This means that the delivery time may be
      extended if your order is placed on a holiday or weekend. However, we
      always aim to get your product to you as soon as possible, and we will
      provide you with a tracking number so that you can keep an eye on your
      delivery.
    </p>
    <p>
      We are committed to providing our customers with high-quality plants and
      excellent service. If you have any questions about our shipping policy or
      your order, please don't hesitate to contact us. We will do our best to
      assist you and ensure that you have a smooth and hassle-free shopping
      experience. Thank you for choosing our plant selling website.
    </p>
    <p>
      In case of any delivery-related issues, such as a delay or a damaged
      product, please contact us immediately. We will investigate the issue and
      take appropriate action to resolve the problem as soon as possible. We
      strive to provide our customers with a seamless and stress-free shopping
      experience, and we are always happy to help in any way we can. Thank you
      for your understanding and cooperation.
    </p>
  </div>
</div>
