<div id="detail-body">
  <div id="container">
    <div class="left-container">
      <img [src]="sanitizer.bypassSecurityTrustUrl(item.image)" width="100%" />
    </div>
    <div class="right-container">
      <br />
      <h3>{{ item.name }}</h3>
      <!-- <h6>By PlantDekho </h6> -->
      <p id="price">
        <span> 999 </span> <del style="font-size: 16px">₹ 1145</del>
      </p>
      <h5>Shipping {{ item.shipping_cost }}</h5>
      <i class="fa-sharp fa-solid fa-truck-fast"></i>
      <h5>Dispatch {{ item.dispatch_date }}</h5>
      <h5>Origin Conuntry:India</h5>
      <br />
      <p>
        Images are for reference purposes only. Actual product may vary in shape
        or appearance.
      </p>

      <a>
        <button class="button" (click)="addtocart(item)" >Add to cart</button>
      </a>
    </div>
  </div>

  <!-- ************************** -->
  <div id="product-detail">
    <div>
      <h3>Description</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
        necessitatibus adipisci et iusto ut nostrum rem non eaque possimus
        quisquam.lorem50 Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Quia obcaecati nemo est fugiat magnam explicabo facilis.
        Consequatur fuga cumque, omnis magni voluptatibus provident doloremque
        iure expedita vitae assumenda
      </p>
    </div>
    <div>
      <h3>Plant Specification</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum,
        praesentium vero perspiciatis quisquam enim assumenda! Inventore, ipsum
        qui! Impedit aliquid iure similique possimus numquam labore voluptates
        ullam quibusdam!
      </p>
    </div>
  </div>
</div>
