#detail-body{
    padding: 10px;
}
#container {
    display: flex;
    justify-content: space-evenly;
}

.left-container {
    flex-basis: 40%;
}

.right-container {
    flex-basis: 40%;
}

.right-container ul {
    padding: 0%;
    list-style: none;
   
}
.button{
    padding: 10px;
}




#price {
   
    color: #129674;
    font-size: 29px;
}


/* ********************************** */


@media(max-width:600px) {
    #container {
        flex-direction: column;
    }
}