
 <div id="container">
    <div class="left-container">
        <img src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg" width="100%">


    </div>
    <div class="right-container">
        <p id="title">Beautiful Jade Plant</p>
        <p>By Green Heaven</p>
        <p id="price"> <span><del style="font-size: 20px;">₹ 1145</del> </span>₹ 999</p>
        <ul>
            <li>
                <p>Free Delivery</p>
            </li>

            <li>
                <p>Dispatch in 2- 3 days</p>
            </li>
            <li>
                <p>Origin Conuntry:India </p>
            </li>

        </ul>
        <br>
        <p>Images are for reference purposes only. Actual product may vary in shape or appearance based on climate, age, height, etc. The product is replaceable but not returnable</p>
       
        <a href="cart.html"><button>Add to cart</button></a> 
    </div>


</div>
<div>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit necessitatibus adipisci et iusto ut nostrum rem non eaque possimus quisquam.lorem50 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia obcaecati nemo est fugiat magnam explicabo facilis. Consequatur fuga cumque, omnis magni voluptatibus provident doloremque iure expedita vitae assumenda  </p>
</div>
<div>
    <h2>Plant Specification</h2>
    <div> 
        <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>
    </div>
</div>