<div class="description-body">
  <!-- --------------------------------------------- -->
  <div class="banner-container">
    <a href="">
      <img src="assets/indoor_plants_banner.png" alt="image" />
    </a>
  </div>
  <br />
  <!-- --------------------------------------------- -->

  <div id="heading"><h3>WHAT ARE YOU LOOKING FOR ?</h3></div>
  <!-- <i class="fa-solid fa-truck-fast"></i>
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
  <i class="fa-solid fa-house"></i> -->
  <br />
  <!-- --------------------------------------------- -->
  <div class="box-banner">
    <div>
      <a href="">
        <img
          src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg"
          alt=""
        />
      </a>
      <h5>Indoor plants</h5>
    </div>
    <div>
      <a href="">
        <img
          src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg"
          alt=""
        />
      </a>
      <h5>Outdoor plants</h5>
    </div>
    <div>
      <a href="">
        <img
          src="https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg"
          alt=""
        />
      </a>
      <h5>Succelets plants</h5>
    </div>
  </div>
  <br /><br />
  <!-- --------------------------------------------- -->
  <div class="json-heading">
    <h3>BEST SELLER</h3>
  </div>
  <br />
  <!-- --------------------------------------------- -->
  <div class="grid-container">
    <div class="data_field" *ngFor="let item of item">
      <!-- ------------------------------ -->
      <a class="product" (click)="transferdata(item)">
        <img class="images" [src]="item.image" />
      </a>
      <!-- ------------------------------ -->
      <h5>{{ item.name }}</h5>
      <!-- ------------------------------ -->
      <h5 class="price" style="font-size: 26px">
        900
        <span style="font-size: 15px">
          <del>1200</del>
        </span>
      </h5>
      <!-- ------------------------------ -->
      <button class="button" (click)="addtocart(item)">Add to cart</button>
      <br />
      <!-- ------------------------------ -->
    </div>
  </div>
  <!-- ......................///////////////// -->
  <div class="json-heading">
    <br />
    <h3>Indoor Plants</h3>
    <br />
  </div>
  <div class="grid-container">
    <div class="data_field" *ngFor="let data of data">
      <a class="product" (click)="transferdata(data)">
        <img class="images" [src]="data.image" />
      </a>
      <!-- ------------------------------ -->
      <h5>{{ data.name }}</h5>
      <!-- ------------------------------ -->
      <h5 class="price" style="font-size: 26px">
        900
        <span style="font-size: 15px">
          <del>1200</del>
        </span>
      </h5>
      <!-- ------------------------------ -->
      <button class="button" (click)="addtocart(data)">Add to cart</button>
      <br />
    </div>
  </div>

  <!-- --------------------------------------------- -->
</div>
