.box-banner {
  display: flex;
  justify-content: space-around;
}
.box-banner div {
  width: 180px;
}

.box-banner img {
  border-radius: 8%;
  width: 100%;
}
.box-banner h5 {
  text-align: center;
}

.banner-container img {
  width: 100%;
  height: 60vh;
}

@media (max-width: 590px) {
  .banner-container img{
    height: auto;
  }
  .box-banner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}


