<div id="data">
    <div class="data_field">
            
        <a routerLink="detail" class="product"  >
            <img class="images"
                src= "https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg">
        </a>
    
        <P class="title">beautiful jade plant</P>
        <br>
    
    
        <p class="price" style="font-size: 25px;">900<span style="font-size:15px;" ><del>1200</del></span></p>
        <button class="button"  >Add to cart</button>
        <br>
    
    <br>
    </div>
    <div class="data_field">
            
        <a routerLink="detail" class="product"  >
            <img class="images"
                src= "https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg">
        </a>
    
        <P class="title">beautiful jade plant</P>
        <br>
    
    
        <p class="price" style="font-size: 25px;">900<span style="font-size:15px;" ><del>1200</del></span></p>
        <button class="button"  >Add to cart</button>
        <br>
    
    <br>
    </div>
    <div class="data_field">
            
        <a routerLink="detail" class="product"  >
            <img class="images"
                src= "https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg">
        </a>
    
        <P class="title">beautiful jade plant</P>
        <br>
    
    
        <p class="price" style="font-size: 25px;">900<span style="font-size:15px;" ><del>1200</del></span></p>
        <button class="button"  >Add to cart</button>
        <br>
    
    <br>
    </div>
    <div class="data_field">
            
        <a routerLink="detail" class="product"   >
            <img class="images"
                src= "https://www.fnp.com/images/pr/l/v20180518064834/beautiful-jade-plant_1.jpg">
        </a>
    
        <P class="title">beautiful jade plant</P>
        <br>
    
    
        <p class="price" style="font-size: 25px;">900<span style="font-size:15px;" ><del>1200</del></span></p>
        <button class="button"  >Add to cart</button>
        <br>
    
    <br>
    </div>

</div>